*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

#Intellij
openapi/.idea
openapi/.idea_modules
*.iml
openapi/openapi.iml

*.orig

#Gradle
openapi/.gradle
openapi/LOG_FILE_IS_UNDEFINED
openapi/application.log
openapi/build