<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\TaskManagementService.Data.Sqlserver\packages.config" />
  <repository path="..\src\TaskManagementService.Web.Api\packages.config" />
  <repository path="..\src\TaskManagementService.Web.Common\packages.config" />
  <repository path="..\src\Tests\TaskManagementService.Common.Tests\packages.config" />
  <repository path="..\src\Tests\TaskManagementService.Web.Api.Tests\packages.config" />
</repositories>