<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="AWSAccessKey" value="YOUR_ACCESS_KEY"/>
		<add key="AWSSecretKey" value="YOUR_SECRET_KEY"/>
		<add key="AWSRegion" value="us-east-1" />
	</appSettings>
  <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <runtime>
    <gcServer enabled="true"/>
    <gcConcurrent enabled="true"/>
  </runtime>
</configuration>
