<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="servicestack:license" value="1471-e1JlZjoxNDcxLE5hbWU6T21uaVNpdGUsVHlwZTpCdXNpbmVzcyxIYXNoOmIvWXVlN3ZFd1ZZZmU0MXhINlJaYy9NalZPQTQzS1E4S29jYUJCbEltc2JUVmYvWVVvZWg2OFYyOUI5cUlkb0xYeFNKUUlobE90YUZ2N0lrMHJYQTlmWUZtUkxqVTg0SndtTWRNRUU5RmpORFljckxQT0Z5WmtQRUtzWWR4OHJBbForclNJSC9CL2c2YzAzSGExcDR1UWlHMktyT3hLcEE4N2Y4Unl2Ukx1MD0sRXhwaXJ5OjIwMTUtMDMtMjZ9" />
    <add key="ReddisService" value="localhost:6379" />
  </appSettings>
  
  <log4net xsi:noDescriptionspaceSchemaLocation="http://csharptest.net/downloads/schema/log4net.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="..\..\..\..\..\log\Auth_202.UnitTests.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value=".yyyyMMdd.lo\g" />
      <maximumFileSize value="5MB" />
      <maxSizeRollBackups value="-1" />
      <countDirection value="1" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level [%thread] %logger - %message%newline%exception" />
      </layout>
    </appender>
    <root>
      <level value="ERROR" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.92.0" newVersion="1.0.92.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>