<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="3.2.1" targetFramework="net451" />
  <package id="CommonServiceUtilities" version="1.0.5266.14273" targetFramework="net451" />
  <package id="log4net" version="2.0.3" targetFramework="net451" />
  <package id="MessagingServiceUtilities" version="1.0.5266.14273" targetFramework="net451" />
  <package id="NUnitTestAdapter" version="1.0" targetFramework="net451" />
  <package id="RESTServiceUtilities" version="1.0.5266.14273" targetFramework="net451" />
  <package id="ServiceStack" version="4.0.21" targetFramework="net451" />
  <package id="ServiceStack.Client" version="4.0.21" targetFramework="net451" />
  <package id="ServiceStack.Common" version="4.0.21" targetFramework="net451" />
  <package id="ServiceStack.Interfaces" version="4.0.21" targetFramework="net451" />
  <package id="ServiceStack.Logging.Log4Net" version="4.0.21" targetFramework="net451" />
  <package id="ServiceStack.OrmLite" version="4.0.21" targetFramework="net451" />
  <package id="ServiceStack.OrmLite.SqlServer" version="4.0.21" targetFramework="net451" />
  <package id="ServiceStack.Redis" version="4.0.21" targetFramework="net451" />
  <package id="ServiceStack.Server" version="4.0.21" targetFramework="net451" />
  <package id="ServiceStack.Text" version="4.0.21" targetFramework="net451" />
</packages>