<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <connectionStrings>
    <clear />
    <add name="Auth202Db"
         connectionString="Data Source=localhost;Initial Catalog=Auth_202;User ID=auth202DbUser;Password=bobafet12bobafet12;" />
  </connectionStrings>
  <appSettings>
    <add key="servicestack:license"
         value="1471-e1JlZjoxNDcxLE5hbWU6T21uaVNpdGUsVHlwZTpCdXNpbmVzcyxIYXNoOmIvWXVlN3ZFd1ZZZmU0MXhINlJaYy9NalZPQTQzS1E4S29jYUJCbEltc2JUVmYvWVVvZWg2OFYyOUI5cUlkb0xYeFNKUUlobE90YUZ2N0lrMHJYQTlmWUZtUkxqVTg0SndtTWRNRUU5RmpORFljckxQT0Z5WmtQRUtzWWR4OHJBbForclNJSC9CL2c2YzAzSGExcDR1UWlHMktyT3hLcEE4N2Y4Unl2Ukx1MD0sRXhwaXJ5OjIwMTUtMDMtMjZ9" />
  </appSettings>

</configuration>